<h1>Employees#show</h1>

<% if @employee.img_url %>
  <img src="<%= @employee.img_url%>" width="300"><br>  
<% end %>



<%= @employee.first_name%> <%= @employee.last_name%> <br>
<%= @employee.alias%> <br>
<%= @employee.title%> <br>
<%= @employee.office%> <br> 
<%= link_to @employee.dog.name, @employee.dog %> 
